$nav-height: 3.125rem;
$laptop-screen: 1024px;
$tablet-screen: 768px;
$mobile-screen: 576px;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Barlow', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin rounded($property) {
  border-radius: $property;
}

@mixin respond-to-screen($breakpoint) {
  @if $breakpoint == laptop {
    @media (max-width: $laptop-screen) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media (max-width: $tablet-screen) {
      @content;
    }
  }
  @if $breakpoint == mobile {
    @media (max-width: $mobile-screen) {
      @content;
    }
  }
}
