/*** Palette container ***/
$nav-height: 3.125rem;
$laptop-screen: 1024px;
$tablet-screen: 768px;
$mobile-screen: 576px;

@mixin respond-to-screen($breakpoint) {
  @if $breakpoint == laptop {
    @media (max-width: $laptop-screen) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media (max-width: $tablet-screen) {
      @content;
    }
  }
  @if $breakpoint == mobile {
    @media (max-width: $mobile-screen) {
      @content;
    }
  }
}

.palette-container {
  height: calc(100vh - #{$nav-height});
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 1fr));
  grid-template-rows: repeat(4, minmax(100px, 1fr));
  @include respond-to-screen(laptop) {
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    grid-template-rows: repeat(5, minmax(100px, 1fr));
  }
  @include respond-to-screen(tablet) {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: repeat(7, minmax(100px, 1fr));
  }
  @include respond-to-screen(mobile) {
    grid-template-columns: repeat(1, minmax(100px, 1fr));
    grid-template-rows: repeat(20, minmax(100px, 1fr));
  }

  .single-grid-cell {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    &:hover .copy-btn {
      visibility: visible;
      opacity: 1;
    }
  }

  .copy-btn {
    width: 2.5rem;
    height: 1rem;
    padding: 0.8rem 2rem;
    background-image: url('../images/data_image_svg+xml;….svg');
    background-repeat: no-repeat;
    background-position: 50%;
    border: 2px solid hsla(0, 0%, 100%, 0.2);
    border-radius: 0.3rem;
    color: #fff;
    visibility: hidden;
    opacity: 0.5;
    transition: visibility 0s, opacity 0.3s linear;
  }

  .color-name {
    color: #fff;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
  }
}
