@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

body {
  font-family: 'Barlow', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/**** Nav ****/
.top-nav {
  padding: 0.45rem 1rem;
  text-transform: capitalize;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  button {
    font-family: 'Barlow', sans-serif;
    text-transform: capitalize;
    font-size: 1rem;
    width: 100%;
    border: 1px solid #eee;
    border-width: 0 0 1px 0;
    padding: 0.5rem 0;
    background-color: #fff;
    cursor: pointer;
  }

  button:focus {
    outline: blue thin dotted;
  }

  button > span {
    pointer-events: none;
  }

  .copy-bar {
    position: relative;
    width: 16.9rem;
    > button {
      background-color: #000;
      color: #fff;
      border: 0;
      border-radius: 0.2rem;
    }
    .triangle {
      margin-left: 1rem;
    }
  }

  .submenu {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 150%;
    li:first-of-type button {
      border-radius: 0.2rem 0.2rem 0 0;
    }
    li:last-of-type button {
      border: 0;
      border-radius: 0 0 0.2rem 0.2rem;
    }
  }

  .submenu-show {
    display: block;
    button {
      display: block;
    }
  }

  .sound-btn button {
    width: 6.5rem;
    background-color: transparent;
    border: 0;
  }
}
